
*  {
  font-family: 'Roboto', sans-serif;
}
/* Стилі для форми */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Стилі для списку книг */
.book-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.book-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.book-item:last-child {
  border-bottom: none;
}

.book-item strong {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
