<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">


<form [formGroup]="bookForm" (ngSubmit)="handleSubmit()">
  <h2>Add Your Books</h2>

  <div>
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title"/>
  </div>

  <div>
    <label for="author">Author</label>
    <input type="text" id="author" formControlName="author"/>
  </div>

  <div>
    <label for="date">Date</label>
    <input type="date" id="date" formControlName="date" [attr.max]="maxDate"/>
  </div>

  <button type="submit" [disabled]="!bookForm.valid">Submit</button>
</form>

<div *ngIf="books.length > 0" class="book-list">
  <div *ngFor="let book of books" class="book-item">
    <strong>Title:</strong> {{ book.title }} <br>
    <strong>Author:</strong> {{ book.author }} <br>
    <strong>Year:</strong> {{ book.date }}
  </div>
</div>
